body{
    background-size: cover ;
    background-position: center;
    }
    .heading
    {
    font-size: 23px;
    width: 90%;
    margin: 0px;
    }
    
    #status
    {
    font-size: 20px;
    }
    #status

canvas{
box-shadow: 10px 10px 10px rgb(218, 191, 166);
border-radius: 13px;
}
